/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Typography
:: Colors
:: Forms
:: Header
:: Autocomplete
:: Sign In Mobile
:: Tiles
:: Pagination
:: Post
:: Comments
:: Content
:: Playlist
:: Mobile Styles
*/

/* Colors */
@body-color: #524C49;
@header-color: #56bbd2;
@header-dark: darken(@header-color, 10%);
@header-light: lighten(@header-color, 10%);
@font-color: #fff;
@font-color-placeholder: #aaa;

/* Font Sizes */
@extra-large-text: 44px;
@large-text: 36px;
@medium-text: 24px;
@medium-text-mobile: 22px;
@regular-text: 17px;
@regular-text-mobile: 14px;

/* Spacing */
@spacing-close: 5px;
@spacing-default: 10px;
@spacing-larger: 20px;

.transition (@property: all, @duration: .5s) {
	-webkit-transition: @property @duration ease;
	-moz-transition: @property @duration ease;
	-o-transition: @property @duration ease;
	transition: @property @duration ease;
}


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    background-color: @body-color;
	color: @font-color;
}

.button {
	border: 0;
	box-shadow: none;
}

.hidden {
	height: 0;
	opacity: 0;
	overflow: hidden;
}

.margin {
    padding: @spacing-default;
}

.none {
	display: none;
}

.mobile-only {
	display: none;
}

/* -----------------------------------------
   Typography
----------------------------------------- */

@font-face { 
	font-family: "Ubuntu Light"; 
    src: url('../webfonts/Ubuntu-L.woff');
}
@font-face { 
	font-family: "Ubuntu Light Italic"; 
    src: url('../webfonts/Ubuntu-LI.woff');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label {
    font-family: "Ubuntu Light";
	font-weight: normal;
}
em {
	font-family: "Ubuntu Light Italic";
	padding: 0 5px 0 0;
}

h1 {
    font-size: @large-text;
    font-weight: normal;
	a {
		font-size: @large-text;
	}
}

h2 {
    font-size: @medium-text;
    margin: 0 0 20px;
}

h6 {
	margin: 0 0 @spacing-close;
}

h6,
p,
a,
li {
    font-size: @regular-text;
}

ul {
	margin-left: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
header *,
article *,
p,
a:active,
a:focus,
.alert-box a,
li {
	color: @font-color;
}

.alert-box p {
	margin: 0;
}

/* -----------------------------------------
   Forms
----------------------------------------- */

header form {
    margin: 4px 0 0;
}

input[type=search] {
    border-radius: 4px;
}
::-webkit-input-placeholder { color: @font-color-placeholder; }
::-moz-placeholder { color: @font-color-placeholder; }
:-ms-input-placeholder { color: @font-color-placeholder; }
input:-moz-placeholder { color: @font-color-placeholder; }
::-webkit-textarea-placeholder { color: @font-color-placeholder; }
:-ms-textarea-placeholder { color: @font-color-placeholder; }
textarea:-moz-placeholder { color: @font-color-placeholder; }

form label {
	color: @font-color;
	cursor: default;
	&.left {
		float: none;
	}
}

form.custom a,
form.custom li {
	font-size: 1em;
}

textarea {
	height: 200px;
}

input[type=submit] {
    margin-bottom: @spacing-default;
}

#Remember {
	display: none;
}


/* -----------------------------------------
   Header
----------------------------------------- */

header {
	background-color: @header-color;
	height: 40px;
    margin: 0 0 @spacing-larger;
    .row {
        height: 40px;
	}
	h1 {
	    background: url(../images/icons/heart-white.png) 0 50% no-repeat;
		height: 40px;
		line-height: 35px;
		margin: 0;
	    padding: 0 0 0 40px;
	}
}

.menue {
	float: right;
    height: 24px;
    line-height: 24px;
    margin: 8px 0 0;
	a {
		text-align: right;
	}
}    

a.notifications {
    background: url(../images/icons/notifications-white.png) 50% 50% no-repeat;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 20px;
    margin: 8px 10px 0 0;
    text-align: center;
    width: 24px;
    }
    .notifications.unread {
        background-image: url(../images/icons/notifications-orange.png);
    }

.notification-count {	
}

.dropdown {
	background-color: @header-color;
	left: 0;
	list-style: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	li {
		border-bottom: 1px solid @header-light;
		.transition;
		&:hover {
			background: @header-light;
		}
		&:last-of-type {
			border: 0;
		}
		a {
			display: block;
			padding: 2px 10px;
			text-transform: lowercase;
		}
	}
}

/* -----------------------------------------
   Autocomplete
----------------------------------------- */

div.search-form {
	position: relative;
}

.autocomplete-list {
	background: #fff;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
	list-style: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	.transition;
	width: 100%;
	z-index: 1;
	li a,
	li strong {
		color: @body-color;
		padding: 0 3px 3px;
	}
	li a {
		display: block;
		overflow: hidden;
        text-overflow: ellipsis;
		.transition;
		white-space: nowrap;
		&:hover {
			background-color: @header-light;
			color: #fff;
		}
	}
	&:before {
		border: 11px solid transparent; /* tip height + border width*/
		border-bottom-color: #fff;
		content:"\00a0";
		display: block;
		height: 0;
		left: 50%;
		margin-left: -11px;
		position: absolute;
		top: -22px; /* value = - border-top-width - border-bottom-width */
		width: 0;
	}
}

/* -----------------------------------------
   Sign In Mobile
----------------------------------------- */

.sign-in-mobile {
	margin-bottom: @spacing-default;
	a {
		color: @font-color;
		display: block;
		font-size: @medium-text;
		text-align: center;
	}
}

/* -----------------------------------------
   Tiles
----------------------------------------- */

#Posts:hover div.content:not(:hover) {
	opacity: 0.5;
}

section h1 {
    margin: 0 0 @spacing-default;
}

article  {
    margin: 0 0 @spacing-larger;
	opacity: 1;
    div.content {
		.transition;
        height: 120px;
        overflow: hidden;
	}
}

article {
	h2 {
		margin: 0;
	}
	h2 a {
		display: block;
		font-size: @medium-text;
		height: 75px;
		overflow: hidden;
	}
	a:hover {
		color: @font-color;
		text-decoration: underline;
	}
    p.author,
    p.genre,
    p.date {
        float: left;
        width: 50%;
    }
    p.genre {
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    p.author {
        text-align: right;
    }   
    &:hover p.date.toggle {
        display: none;
    }
    &:hover p.genre {
        display: block;     
    }
}

/* -----------------------------------------
   Pagination
----------------------------------------- */

.pagination-buttons {
	.large-6 {
		margin-bottom: @spacing-default;
	}
	a {
		margin: 0;
	}
}

/* -----------------------------------------
   Post
----------------------------------------- */

.post {
	margin-bottom: @spacing-default;
	h1,
	p,
	em {
		color: @font-color;
	}
	iframe {
		display: block;
		margin: 0 0 @spacing-default;
		max-width: 100%;
		min-height: 166px;
	}
	.button {
		margin-bottom: @spacing-default;	
	}
}

/* -----------------------------------------
   Comments
----------------------------------------- */

.comments {
	img {
		float: left;
		padding: 0 20px 20px 0;
	}
	p {
		margin-bottom: @spacing-close;
	}
	form {
		img {
			padding: 0 10px 0 0;
		}
		input[type=text] {
			width: 90%;	
		}
	}
}

/* -----------------------------------------
   Content
----------------------------------------- */

.member-list {
	.row {
		margin: 0 0 @spacing-default;
	}
	h4 {
		margin: 0 0 @spacing-close;
	}
	p {
		margin: 0;
	}
	.user-color {
		height: 70px;
		width: 100%;
	}	
}

/* -----------------------------------------
   Playlist
----------------------------------------- */

.Playlist {
	.player-wrapper {
		height: 420px;
	}
	.video-list {
	a {
		display: block;
		padding: 4px 2px;
		.transition;
		&.current {
			background: @header-color;
			color: @font-color;
		}
		&:hover {
			background-color: @header-light;
			color: @font-color;
		}
	}
}
}

/* -----------------------------------------
   Mobile Styles
----------------------------------------- */

@media only screen and (max-width: 767px) {
	
	.hide-on-mobile {
		display: none;
	}	
	.mobile-only {
		display: block;
	}
	
	p,
	a {
		font-size: @regular-text-mobile;
	}
	
	header {
		height: 50px;
		margin: 0 0 @spacing-default;
		.row:first-of-type {
			height: 50px;
		}
		.row:last-of-type {
			height: auto;
		}
		.row .large-3 {
			padding: 0;
		}
		h1 {
			background: none;
			height: 45px;
			line-height: 45px;
			padding: 2px 0 0;
		}
		h1,
		h1 a {
			display: block;
			font-size: @extra-large-text;
			text-align: center;
		}
		&.header-open-mobile {
			height: auto;
		}
	}
	
	section h1 {
		font-size: @medium-text-mobile;
		margin-bottom: @spacing-default;
	}
	
	article {
		margin-bottom: @spacing-default;
		div.content {
			height: auto;
			min-height: 1px;
			h2 {
				margin: 0 0 10px;
				a {
					font-size: @medium-text-mobile;
					height: auto;
				}
			}
			p {
				margin: 0 0 5px;
			}
		}
	}
	
	#Posts:hover article:not(:hover) {
		opacity: 1;
	}
	
	.button.right {
		float: none;
	}
	
	.mobile-menue {
		background: @header-dark;
		height: 50px;
		line-height: 50px;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 65px;
		z-index: 1;
		a:hover {
			color: @header-light;
		}
	}

	.dropdown {
		background: @header-dark;
		position: static;
		margin: 0;
		a {
			text-align: center;
		}
	}	
		
}