body {
  background-color: #524C49;
}
.button {
  border: 0;
  box-shadow: none;
}
ul.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.margin {
  padding: 10px;
}
.mobile-only {
  display: none;
}
@font-face {
  font-family: Raleway;
  src: url('../webfonts/raleway_thin-webfont.woff');
}
h1,
h2,
h3,
p,
a,
label {
  font-family: Raleway;
}
h1 {
  color: #fff;
  font-size: 36px;
  font-weight: normal;
}
h1 a {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  margin: 0 0 20px;
}
p,
a {
  font-size: 17px;
}
header *,
article *,
.twelve p,
a:active,
a:focus {
  color: #fff;
}
.anthropomorphic {
  background-color: #D6BC67;
}
.die-in-the-moonlyt {
  background-color: #56bbd2;
}
.green335 {
  background-color: #91A240;
}
.metro {
  background-color: #629995;
}
.metropolis {
  background-color: #E0B204;
}
.phenomenon {
  background-color: #C7C897;
}
.silk {
  background-color: #FAF8F2;
}
.trade-off {
  background-color: #E66727;
}
.valley-pass {
  background-color: #9DAB78;
}
header form {
  margin: 4px 0 0;
}
input[type=search] {
  border-radius: 10px;
}
form label {
  color: #fff;
  cursor: default;
}
input[type=submit] {
  margin-bottom: 10px;
}
#Remember {
  display: none;
}
header {
  background-color: #56bbd2;
  margin: 0 0 20px;
}
header .row {
  height: 40px;
}
header h1 {
  background: url(../images/icons/heart-white.png) 0 50% no-repeat;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 0 0 0 40px;
}
.menue {
  float: right;
  height: 24px;
  line-height: 24px;
  margin: 8px 0 0;
}
.menue a {
  text-align: right;
}
a.notifications {
  background: url(../images/icons/notifications-white.png) 50% 50% no-repeat;
  color: #fff;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  line-height: 20px;
  margin: 8px 10px 0 0;
  text-align: center;
  width: 24px;
}
.notifications.unread {
  background-image: url(../images/icons/notifications-orange.png);
}
.dropdown {
  background-color: #56bbd2;
  left: 0;
  list-style: none;
  position: absolute;
  top: 5px;
  width: 100%;
  z-index: 1;
}
.dropdown li {
  border-bottom: 1px solid #7ecbdd;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
.dropdown li:hover {
  background: #7ecbdd;
}
.dropdown li:last-of-type {
  border: 0;
}
.dropdown li a {
  display: block;
  padding: 2px 10px;
}
.sign-in-mobile {
  margin-bottom: 10px;
}
.sign-in-mobile a {
  color: #fff;
  display: block;
  font-size: 24px;
  text-align: center;
}
#Posts:hover article:not(:hover) {
  opacity: 0.4;
}
section h1 {
  margin: 0 0 20px;
}
article {
  margin: 0 0 20px;
  opacity: 1;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
article div.content {
  height: 120px;
  overflow: hidden;
}
article h2 a {
  display: block;
  font-size: 24px;
  height: 55px;
}
article a:hover {
  color: #fff;
  text-decoration: underline;
}
p.author,
p.date {
  float: left;
  width: 50%;
}
p.author {
  text-align: right;
}
a.load-more {
  display: block;
  height: 30px;
  line-height: 30px;
  margin: 0 0 20px;
  text-align: center;
}
.post {
  margin-bottom: 20px;
}
.post h1,
.post p {
  color: #fff;
}
.post iframe {
  display: block;
  margin: 0 0 20px;
  max-width: 100%;
}
.post .button {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  header {
    height: auto;
  }
  header .row {
    height: 50px;
  }
  header h1 {
    background: none;
    line-height: 50px;
  }
  header h1,
  header h1 a {
    display: block;
    font-size: 44px;
    text-align: center;
  }
  header .search-form {
    display: none;
  }
  header div.column.three {
    display: none;
  }
  header div.column.three .menue a {
    font-size: 24px;
  }
  article div.content {
    height: auto;
    min-height: 1px;
  }
  article div.content h2 {
    margin: 0;
  }
  article div.content h2 a {
    height: auto;
  }
  article div.content p {
    margin: 0 0 5px;
  }
  .mobile-only {
    display: block;
  }
}
