/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Typography
:: Colors
:: Forms
:: Header
:: Tiles
:: Pagination
:: Mobile Styles
*/

@body-color: #524C49;

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
    background-color: @body-color;
}

h1 a {
	font-size: 36px;
}

.margin {
    padding: 10px;
}

/* -----------------------------------------
   Typography
----------------------------------------- */

@font-face { 
    font-family: Raleway; 
    src: url('../webfonts/raleway_thin-webfont.woff');
}

h1,
h2,
h3,
p,
a {
    font-family: Raleway;
}

h1 {
    font-size: 36px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin: 0;
	}
    section h1 {
        color: #fff;
    }

h2 {
    font-size: 24px;
    margin: 0 0 20px;
}

p,
a {
    font-size: 16px;
}

header *,
article * {
    color: #fff;
}

/* -----------------------------------------
   Colors
----------------------------------------- */

.anthropomorphic {
    background-color: #D6BC67;
}
.die-in-the-moonlyt {
    background-color: #56bbd2;
}
.green335 {
    background-color: #91A240;
}
.metro {
    background-color: #629995;
}
.metropolis {
    background-color: #E0B204;
}
.phenomenon {
    background-color: #C7C897;
}
.silk {
    background-color: #FAF8F2;
}
.trade-off {
    background-color: #E66727;
}
.valley-pass {
    background-color: #9DAB78;
}

/* -----------------------------------------
   Forms
----------------------------------------- */

header form {
    margin: 4px 0 0;
}
input[type=search] {
    border-radius: 10px;
}

/* -----------------------------------------
   Header
----------------------------------------- */

header {
    margin: 0 0 20px;
    .row {
        height: 40px;
	}
	h1 {
	    background: url(../images/icons/heart-white.png) 0 50% no-repeat;
	    padding: 0 0 0 40px;
	}
}
    
a.notifications {
    background: url(../images/icons/notifications-white.png) 50% 50% no-repeat;
    color: #fff;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 20px;
    margin: 8px 10px 0 0;
    text-align: center;
    width: 24px;
    }
    .notifications.unread {
        background-image: url(../images/icons/notifications-orange.png);
    }

.user-menue {
    color: #fff;
    display: block;
    height: 24px;
    line-height: 24px;
    margin: 8px 0 0;
    padding: 0 6px 0 0;
    &:after {
        content: '';
    }
}
	
.dropdown {
	display: none;
	list-style: none;
}

.sign-in {
	display: block;
	height: 24px;
    line-height: 24px;
    margin: 8px 0 0;
}

/* -----------------------------------------
   Tiles
----------------------------------------- */

section h1 {
    margin: 0 0 20px;
}

article  {
    margin: 0 0 20px;
    div.content  {
        height: 120px;
        overflow: hidden;
	}
}

article h2 {
	a {
		display: block;
		font-size: 22px;
		height: 55px;
		&:hover {
			color: #fff;
			text-decoration: underline;
		}
	}
}

p.author,
p.date {
    float: left;
    width: 50%;
}

p.author {
    text-align: right;
}
    

/* -----------------------------------------
   Pagination
----------------------------------------- */

a.load-more {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 0 0 20px;
    text-align: center;    
}

/* -----------------------------------------
   Post
----------------------------------------- */

.post {
	h1,
	p {
		color: #fff;
	}
}

.star {
	background-image: url(../images/icons/star.png);
	background-position: 4px 50%;
	background-repeat: no-repeat;
}

audio {
	display: block;
	margin: 0 0 20px;
}

/* -----------------------------------------
   Mobile Styles
----------------------------------------- */

@media only screen and (max-width: 767px) {
    header .row {
        height: 80px;
    }
    header .search-form {
        display: none;
    }
    header div.column {
        float: left;
        width: 40% !important;
    }
}