body {
  background-color: #524C49;
}
.button {
  border: 0;
  box-shadow: none;
}
.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.margin {
  padding: 10px;
}
.none {
  display: none;
}
.mobile-only {
  display: none;
}
@font-face {
  font-family: "Ubuntu Light";
  src: url('../webfonts/Ubuntu-L.woff');
}
@font-face {
  font-family: "Ubuntu Light Italic";
  src: url('../webfonts/Ubuntu-LI.woff');
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label {
  font-family: "Ubuntu Light";
  font-weight: normal;
}
em {
  font-family: "Ubuntu Light Italic";
  padding: 0 5px 0 0;
}
h1 {
  font-size: 36px;
  font-weight: normal;
}
h1 a {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  margin: 0 0 20px;
}
h6 {
  margin: 0 0 5px;
}
h6,
p,
a,
li {
  font-size: 17px;
}
ul {
  margin-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
header *,
article *,
.large-12 p,
a:active,
a:focus,
.alert-box a,
li {
  color: #fff;
}
.alert-box p {
  margin: 0;
}
header form {
  margin: 4px 0 0;
}
input[type=search] {
  border-radius: 4px;
}
::-webkit-input-placeholder {
  color: #aaa;
}
::-moz-placeholder {
  color: #aaa;
}
:-ms-input-placeholder {
  color: #aaa;
}
input:-moz-placeholder {
  color: #aaa;
}
::-webkit-textarea-placeholder {
  color: #aaa;
}
:-ms-textarea-placeholder {
  color: #aaa;
}
textarea:-moz-placeholder {
  color: #aaa;
}
form label {
  color: #fff;
  cursor: default;
}
form label.left {
  float: none;
}
form.custom a,
form.custom li {
  font-size: 1em;
}
textarea {
  height: 200px;
}
input[type=submit] {
  margin-bottom: 10px;
}
#Remember {
  display: none;
}
header {
  background-color: #56bbd2;
  height: 40px;
  margin: 0 0 20px;
}
header .row {
  height: 40px;
}
header h1 {
  background: url(../images/icons/heart-white.png) 0 50% no-repeat;
  height: 40px;
  line-height: 35px;
  margin: 0;
  padding: 0 0 0 40px;
}
.menue {
  float: right;
  height: 24px;
  line-height: 24px;
  margin: 8px 0 0;
}
.menue a {
  text-align: right;
}
a.notifications {
  background: url(../images/icons/notifications-white.png) 50% 50% no-repeat;
  color: #fff;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  line-height: 20px;
  margin: 8px 10px 0 0;
  text-align: center;
  width: 24px;
}
.notifications.unread {
  background-image: url(../images/icons/notifications-orange.png);
}
.dropdown {
  background-color: #56bbd2;
  left: 0;
  list-style: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.dropdown li {
  border-bottom: 1px solid #7ecbdd;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.dropdown li:hover {
  background: #7ecbdd;
}
.dropdown li:last-of-type {
  border: 0;
}
.dropdown li a {
  display: block;
  padding: 2px 10px;
  text-transform: lowercase;
}
.sign-in-mobile {
  margin-bottom: 10px;
}
.sign-in-mobile a {
  color: #fff;
  display: block;
  font-size: 24px;
  text-align: center;
}
#Posts:hover div.content:not(:hover) {
  opacity: 0.4;
}
section h1 {
  margin: 0 0 10px;
}
article {
  margin: 0 0 20px;
  opacity: 1;
}
article div.content {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  height: 120px;
  overflow: hidden;
}
article h2 {
  margin: 0;
}
article h2 a {
  display: block;
  font-size: 24px;
  height: 75px;
}
article a:hover {
  color: #fff;
  text-decoration: underline;
}
p.author,
p.date {
  float: left;
  width: 50%;
}
p.author {
  text-align: right;
}
.pagination-buttons .large-6 {
  margin-bottom: 10px;
}
.pagination-buttons a {
  margin: 0;
}
.post {
  margin-bottom: 10px;
}
.post h1,
.post p,
.post em {
  color: #fff;
}
.post iframe {
  display: block;
  margin: 0 0 10px;
  max-width: 100%;
  min-height: 166px;
}
.post .button {
  margin-bottom: 10px;
}
.comments img {
  float: left;
  padding: 0 20px 20px 0;
}
.comments p {
  margin-bottom: 5px;
}
.comments form img {
  padding: 0 10px 0 0;
}
.comments form input[type=text] {
  width: 90%;
}
@media only screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  p,
  a {
    font-size: 14px;
  }
  header {
    height: 50px;
    margin: 0 0 10px;
  }
  header .row:first-of-type {
    height: 50px;
  }
  header .row:last-of-type {
    height: auto;
  }
  header .row .large-3 {
    padding: 0;
  }
  header h1 {
    background: none;
    height: 45px;
    line-height: 45px;
    padding: 2px 0 0;
  }
  header h1,
  header h1 a {
    display: block;
    font-size: 44px;
    text-align: center;
  }
  header.header-open-mobile {
    height: auto;
  }
  section h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  article {
    margin-bottom: 10px;
  }
  article div.content {
    height: auto;
    min-height: 1px;
  }
  article div.content h2 {
    margin: 0 0 10px;
  }
  article div.content h2 a {
    font-size: 22px;
    height: auto;
  }
  article div.content p {
    margin: 0 0 5px;
  }
  #Posts:hover article:not(:hover) {
    opacity: 1;
  }
  .button.right {
    float: none;
  }
  .mobile-menue {
    background: #34a7c1;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;
    z-index: 1;
  }
  .mobile-menue a:hover {
    color: #7ecbdd;
  }
  .dropdown {
    background: #34a7c1;
    position: static;
    margin: 0;
  }
  .dropdown a {
    text-align: center;
  }
}
